<?xml version='1.0' encoding='utf-8'?>
<widget id="angelgf.es.Herramientas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Herramientas</name>
    <description>Sample Apache Cordova App</description>
    <author email="angelgf@gmail.com" href="https://cordova.apache.org">
        TRONER
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
